<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Runner"
       parallel="instances"
       thread-count="100"
       data-provider-thread-count="100">

    <test name="Runner Tests">
        <classes>
            <class name="org.swiften.javautilities.runner.RunnerTest"/>
            <class name="org.swiften.javautilities.runner.RunnerTest2"/>
        </classes>
    </test>

</suite>